---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/api/v1/doctors":
    get:
      summary: list doctors
      tags:
      - Doctors
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
servers:
- url: https://{defaultHost}
  variables:
    defaultHost:
      default: www.example.com
